@requires layout.html
{{ template "layout.html" . }}

{{ define "title" }}Delete entry{{ end }}

{{ define "content" }}
    <div class="w3-panel w3-pale-red w3-leftbar w3-border-red">
        <h3>Delete this entry?</h3>
    </div>

    <div class="w3-panel w3-white w3-card w3-display-container">
        <p class="w3-text-blue"><a href="/{{ .Document.Hash }}"><b>{{ .Document.Title }}</b></a></p>
        <p>{{ .Document.Body }}</p>
        <p class="w3-opacity w3-right">{{ .Document.Targets.Join }}</p>
    </div>

    <form method="POST">
        <input type="hidden" name="confirmed" value="confirmed" />
        <input type="submit" value="Yes, delete this entry!" />
    </form>
{{ end }}
