@requires layout.html
{{ template "layout.html" . }}

{{ define "title" }}Entries for {{ .TargetName }}{{ end }}

{{ define "content" }}
    <h1>Entries for {{ .TargetName }}</h1>
    <div style="margin-top: -1rem;">
        <a href="/{{ .TargetHash }}.rss">RSS-Feed</a>
        <a href="/{{ .TargetHash }}.atom">Atom-Feed</a>
    </div>
    {{ if .DocumentGroups }}
        {{ range .DocumentGroups }}
            <p class="w3-opacity"><b>{{ .Date.Format "2006/01/02" }}</b></p>
            {{ range .Documents }}
            <div class="w3-panel w3-white w3-card w3-display-container">
                {{ if $.Editor }}
                <a href="/{{ .Hash }}/delete" class="w3-display-topright w3-padding w3-hover-red">X</a>
                {{ end }}
                <p class="w3-text-blue"><a href="/{{ .Hash }}"><b>{{ .Title }}</b></a></p>
                <p>{{ .BodyHTMLNoLinks }}</p>
                {{ if $.Editor }}
                <p class="w3-opacity w3-right">{{ .Targets.Join }}</p>
                {{ end }}
            </div>
            {{ end }}
        {{ end }}
    {{ else }}
            <p>No entries</p>
    {{ end }}

    <div class="w3-row w3-border w3-round">
        <a href="/{{ .TargetHash }}/{{ .PreviousYear }}/{{ .PreviousMonth }}" class="w3-button w3-col s4 m4 l4">&#10094; {{ .PreviousYear }}/{{ .PreviousMonth }}</a>
        {{ if .IsCurrentMonth }}
            <div class="w3-col s4 m4 l4"></a>
            <div class="w3-col s4 m4 l4"></a>
        {{ else }}
            <a href="/{{ .TargetHash }}" class="w3-button w3-col s4 m4 l4">Current Month</a>
            <a href="/{{ .TargetHash }}/{{ .NextYear }}/{{ .NextMonth }}" class="w3-button w3-col s4 m4 l4">{{ .NextYear }}/{{ .NextMonth }} &#10095;</a>
        {{ end }}
    </div>
{{ end }}
