@requires layout.html
{{ template "layout.html" . }}

{{ define "title" }}{{ .Document.Title }}{{ end }}

{{ define "content" }}
    <div class="w3-panel w3-white w3-card w3-display-container">
        <p class="w3-text-blue"><b>{{ .Document.Title }}</b></p>
        <p>{{ .Document.BodyHTML }}</p>
        {{ if .Editor }}
        <p class="w3-opacity w3-right">{{ .Document.Targets.Join }}</p>
        {{ end }}
    </div>

    {{ if .Editor }}
    <p>
        <a class="w3-button w3-blue" href="/{{ .Document.Hash }}/edit">Edit</a>
        <a class="w3-button w3-red" href="/{{ .Document.Hash }}/delete">Delete</a>
    </p>
    {{ end }}
{{ end }}
