@requires layout.html
{{ template "layout.html" . }}

{{ define "title" }}{{ if .Hash }}Edit entry{{else}}New entry{{end}}{{ end }}

{{ define "content" }}
    <h3>Write Entry</h3>
    {{ if .Errors }}
    <div class="w3-panel w3-pale-red w3-leftbar w3-border-red">
        <ul>
            {{ range .Errors }}
            <li>{{ . }}</li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
    <form class="w3-container" method="POST">
        <input type="hidden" name="hash" value="{{ .Hash }}" />
            <p>
                <label>Title</label>
                <input class="w3-input w3-border" type="text" name="title" value="{{ .Title }}" />
            </p>
            <p>
                <label>Body</label>
                <textarea class="w3-input w3-border" name="body" style="resize: none;" rows="10">{{ .Body }}</textarea>
            </p>
            <p>
                <label>Targets (comma seperated)</label>
                <input class="w3-input w3-border" type="text" name="targets" value="{{ .Targets.Join }}" autocomplete="off" />
            </p>
            {{ if .AvailableTargets }}
                <p class="w3-bar">
                    {{ range .AvailableTargets }}
                    <input class="w3-button w3-round w3-blue" style="margin-bottom: 0.25rem;" type="submit" name="starget" value="{{.}}" />
                    {{ end }}
                </p>
            {{ end }}
            <p><input class="w3-btn w3-green" type="submit" value="Submit" /></p>
        </div>
    </form>
{{ end }}
