@requires layout.html
{{ template "layout.html" . }}

{{ define "title" }}Error{{ end }}

{{ define "content" }}
    <div class="w3-panel w3-pale-red w3-leftbar w3-border-red">
        <p>{{ .Error }}</p>
    </div>
{{ end }}
