@requires layout.html
{{ template "layout.html" . }}

{{ define "title" }}Home{{ end }}

{{ define "content" }}
    {{ if .Editor }}
        <h3>Targets</h3>
        {{ if .Targets }}
            <ul class="w3-ul">
            {{ range .Targets }}
                <li>
                    <a href="/{{ targetHash . }}">{{ . }}</a>
                    <a class="w3-right w3-button fa fa-pencil" href="/write?target={{.}}"></a>
                </li>
            {{ end }}
            </ul>
        {{ else }}
            <p>There are no targets</p>
        {{ end }}

        {{ if .NonTargetDocuments }}
        <h3>Untargeted</h3>
        <ul class="w3-ul">
            {{ range .NonTargetDocuments }}
                <li>
                    <a href="/{{ .Hash }}">{{ .Title }}</a>
                    <a class="w3-right w3-button fa fa-edit" href="/{{.Hash}}/edit"></a>
                    <a class="w3-right w3-button fa fa-remove" href="/{{.Hash}}/delete"></a>
                </li>
            {{ end }}
        </ul>
        {{ end }}
    {{ else }}
        <p>You are on the frontpage of a Flustro instance. There is, per design, no content on this page :)</p>
    {{ end }}
{{ end }}
