<!DOCTYPE html>
<html>
    <head>
        <title>Flustro - {{ block "title" . }}{{ end }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/w3.css">
        <link rel="stylesheet" href="/static/fa/css/fork-awesome.min.css">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="w3-bar w3-black">
            <a href="/" class="w3-bar-item w3-button">Home</a>
            {{ if .Editor }}
            <a href="/write" class="w3-bar-item w3-button">Write Entry</a>
            <a href="/logout" class="w3-bar-item w3-button w3-right">Logout</a>
            {{ else }}
            <a href="/login" class="w3-bar-item w3-button w3-right">Login</a>
            {{ end }}
        </div>
        <div class="w3-container w3-content">
            {{ block "content" . }}{{ end }}
        </div>
    </body>
</html>
